body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

/* Form Container (Left) */
.form-container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Video Container (Right) */
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}

.video-container img {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress-bar-container {
    margin-top: 10px;
    width: 100%;
}

progress {
    width: 100%;
    height: 40px;
    /* Increased height for larger progress bar */
    border-radius: 5px;
    /* Add rounding to match the UI */
}