body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #4CAF50;
}

.content {
    margin-top: 20px;
}

.content img {
    width: 150px;
    height: 150px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttons button:hover {
    background-color: #45a049;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons button:active {
    background-color: #3e8e41;
}
