<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Attendance System|Features Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Face Recognition</h1>
        </div>
        <div class="content">
            <img src="{{ url_for('static', filename='images/icon.ico') }}" alt="Face Recognition Icon">
            <div class="buttons">
                <button onclick="window.location.href='/verify';">Verify an image</button>
                <button onclick="window.location.href='/verify_realtime';">Verify realtime</button>
                <button onclick="window.location.href='/find_user';">Find identity</button>
                <button onclick="window.location.href='/find_users_realtime';">Find identity realtime</button>
            </div>
        </div>
    </div>
</body>
</html>
